---
import * as PhosphorIcons from "phosphor-react";

const { benefits } = Astro.props;
---

<section class="px-5 py-4 xl:py-[120px] bg-secondary/25 ">
  <div class="container text-center ">
    <!-- Título y descripción -->
    <h2 class="h">{benefits.description}</h2>
    <!-- <p class="mt-4 text-lg text-gray-600">{benefits.description}</p> -->

    <!-- Lista de beneficios -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-10">
      {benefits.list.map((benefit) => {
        const IconComponent = PhosphorIcons[benefit.icon];

        return (
          <div class="flex flex-col items-center p-6 rounded-lg">
            <div class="bg-white text-primary rounded-full p-4 flex items-center justify-center">
              {IconComponent ? (
                <IconComponent size={28} weight="bold" />
              ) : (
                <span class="text-lg">?</span> <!-- Ícono genérico si no se encuentra -->
              )}
            </div>

            <p class="mt-4 text-lg font-semibold">{benefit.title}</p>
          </div>
        );
      })}
    </div>
  </div>
</section>
