---
import Features2 from "@/layouts/components/features/Feature2.astro"


import TestimonialSlider from "@/layouts/function-components/TestimonialSlider";
const { testimonial } = Astro.props;
---

<section class="reviews section" id="servicios">
  <div class="container">
    <div class="flex flex-col gap-4">
      <h2>{testimonial.title}</h2>
      <p>
        {testimonial.description}
      </p>
    </div>
    <TestimonialSlider list={testimonial.testimonial_list} />
  </div>
</section>


 <!-- <Features2
 title="What services do we provide?"
 subtitle="We offer a wide range of website templates that suit various industries and purposes such as business, portfolio, e-commerce, blog, etc."
 items={[
   {
     title: 'Installation Instructions',
     description:
       'Offer clear instructions on how to download the purchased templates and install them on various website platforms or content management systems.',
     icon: 'flat-color-icons:document',
   },
   {
     title: 'Demo and Previews',
     description:
       'Provide interactive demos and previews that allow customers to see how their chosen template will look and function before making a purchase.',
     icon: 'flat-color-icons:template',
   },
   {
     title: 'Technical Support',
     description:
       'Providing customer support for any technical issues related to the templates or their implementation.',
     icon: 'flat-color-icons:voice-presentation',
   },
 ]}
>
 <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>
</Features2> -->